<launch>
  <arg name="multi_robot_name" default=""/>

  <include file="$(find bot_bringup)/launch/includes/description.launch.xml"/>

  <include file="$(find rtimulib_ros)/launch/rtimulib_ros.launch"/>

  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <include file="$(find bot_sonars)/launch/schr04.launch" />

  <include file="$(find bot_pwm_drive)/launch/pwm.launch" />

  <rosparam file="$(find bot_drive)/param/piyabot_drive.yaml" command="load" />
  <node pkg="bot_drive" type="bot_drive_node" name="bot_drive_node" output="screen" />

  <include file="$(find robot_web_tools)/launch/servers_with_tf.launch"/>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="False"/>
  </node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>



  <include file="$(find bot_slam)/launch/bot_slam.launch" />

</launch>
