<launch>
  <arg name="model" default="$(env PIYABOT_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <param name="piyabot_model" value="$(arg model)"/>

  <include file="$(find piyabot_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="piyabot_fake" type="piyabot_fake_node" name="piyabot_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find piyabot_fake)/rviz/piyabot_fake.rviz"/>
</launch>
